<!DOCTYPE html>
<html>

   <head>
      <title>Timestamp Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
           API Basejump: Timestamp microservice
        </h1>
        <hr>
           <h2>
             Example usage:
           </h2>
           <h3>
             https://timestamp-microservice-miti68.glitch.me/December%2015,%202015
           </h3>
           <h3>
             https://timestamp-microservice-miti68.glitch.me/1450137600
           </h3>
        <hr>
        <h2>
         Example output:     
        </h2>
        <h3>
          { "unix": 1450137600, "natural": "December 15, 2015" } 
        </h3>
     </div>
   </body>

</html>
